* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #222;
}
h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
}
.contenar {
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
}
.content {
    border-radius: 6px;
    border: 2px solid black;
    margin-top: 20px;
    padding: 30px;
    width: 472px;
    height: auto;
    
    justify-content: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}
.input {
    display: flex;
}
.itp {
    display: flex;
}
.ipt input {
    
    margin: 10px 5px 0px 30px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}
.enter button {
    height: 50px;
    border-radius: 10px;
    margin: 10px 30px 0 5px;
    cursor: pointer;
}
.enter button img {
    height: 35px;
    padding: 4px 4px 0px 4px;
   
}
.whethar-img {
    margin-top: 27px;
    display: flex;
    justify-content: center;
}
.whethar-img img {
    width: 170px;
}
.wetharTable {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    /* border: 2px solid black; */
}
.wetharTable table thead tr td{
    background-color: rgba(3, 0, 52, 0.489);
}
.wetharTable table tr th, td{
    padding: 6px;
}
.wetharTable table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 7, 10, 0.228);

}
.wetharTable table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.443);
}
#disc, #city, #error {
    text-align: center;
    color: white;
    font-size: 31px;
    margin-top: 16px;
    padding: 10px;
}
#error {
    color: rgb(255, 146, 146);
}
.er{
    display: none;
}

